<a routerLink="" class="flex flex-col rounded-lg hover:shadow-lg contain-content">
  <div class="bg-gray-300 max-sm:w-[150px] w-[200px] max-sm:h-[120px] h-[160px]">
    <img src="img/banner-products.png" alt="Banner Products">
  </div>

  <div class="p-2 py-4 md:px-4">
    <p class="font-semibold uppercase md:text-lg text-secondary">Café Latte</p>
    <div class="flex gap-x-2 justify-between items-center">
      <p class="font-medium">S/. 15.00</p>
      <button type="button" class="text-xs font-medium uppercase max-md:hidden md:text-sm text-primary-600">Comprar</button>
    </div>
  </div>
</a>
