<section>

  <!-- Title -->
  <article class="relative bg-gray-300 h-[150px]">
    <img src="img/banner-about.png" alt="Banner About" class="object-cover w-full h-full">

    <div class="absolute top-0 flex items-center justify-center size-full ">
      <h1 class="text-5xl text-white uppercase">Nosotros</h1>
    </div>
  </article>



  <!-- Mision & Vision -->
  <article class="grid grid-cols-2 items-center gap-y-14 max-w-[1000px] mx-auto py-[100px]">
    <div class="space-y-5">
      <h3 class="text-3xl text-primary-600">Mision</h3>
      <p>Nuestra misión es ofrecer una experiencia de café excepcional, nos comprometemos a crear un ambiente acogedor
        donde nuestros clientes puedan disfrutar de momentos especiales, conectarse con otros y sentirse como en casa.
      </p>
    </div>
    <div class="max-w-[300px] justify-self-end max-h-[200px] size-full">
      <img src="img/mision.png" alt="Imagen Mision Tostao" class="object-cover w-full h-full">
    </div>

    <div class="max-w-[300px] max-h-[200px] size-full">
      <img src="img/vision.png" alt="Imagen Vision Tostao" class="object-cover w-full h-full">
    </div>
    <div class="space-y-5 justify-self-end text-end">
      <h3 class="text-3xl text-primary-600">Vision</h3>
      <p>Aspiramos a ser reconocidos como tu cafetería preferida destacándonos por la calidad de nuestros productos, el
        servicio excepcional y nuestro compromiso con la sostenibilidad. Buscamos expandir nuestra presencia manteniendo
        la esencia y los valores que nos caracterizan.</p>
    </div>
  </article>



  <!-- Nuestros Locales -->
  <article class="py-[100px] bg-background-color">
    <div class="max-w-[1000px] mx-auto  space-y-14">
      <h2 class="text-4xl text-center">Nuestros Locales</h2>

      <section class="grid grid-cols-3 gap-x-5">
        <a href="">
          <shared-store-card />
        </a>
        <a href="">
          <shared-store-card />
        </a>
        <a href="">
          <shared-store-card />
        </a>
        </section>
    </div>
  </article>

  <!-- Bento Grid Photos -->
  <article class="max-w-[1000px] py-[100px] mx-auto">
    <div class="size-full min-h-[430px] rounded-xl contain-content grid grid-cols-6 gap-2">
      <img src="img/bento-grid-photos1.png" alt="Bento 1" class="object-cover col-span-2 row-span-2 rounded-lg size-full">
      <img src="img/bento-grid-photos2.png" alt="Bento 2" class="object-cover col-span-2 rounded-lg size-full">
      <img src="img/bento-grid-photos3.png" alt="Bento 3" class="object-cover col-span-2 rounded-lg size-full">
      <img src="img/bento-grid-photos4.png" alt="Bento 4" class="object-cover col-span-2 rounded-lg size-full">
      <img src="img/bento-grid-photos5.png" alt="Bento 5" class="object-cover col-span-2 rounded-lg size-full">
    </div>
  </article>

</section>
