<footer class="py-12 w-full bg-background-color">

  <section class="grid grid-cols-2 sm:grid-cols-[2fr_1fr_1fr] sm:gap-x-5 xl:grid-cols-3 w-full md:px-10 px-5 py-5 pb-10 max-w-[90rem] mx-auto">

    <article class="space-y-3">
      <img src="img/logo.png" alt="Logo Tostao Café" class="h-8 md:h-10">
      <p class="max-sm:text-sm">Sigue nuestras redes sociales para recibir información actualizada sobre nuestras grandes ofertas.</p>

      <!-- Social Media Icons -->
      <div class="flex items-center space-x-2 lg:hidden">
        <a href="" class="flex justify-center items-center p-1.5 rounded-full border w-fit border-secondary">
          <lucide-icon name="facebook" class="size-4 stroke-none fill-secondary"></lucide-icon>
        </a>
        <a href="" class="flex justify-center items-center p-1.5 rounded-full border w-fit border-secondary">
          <lucide-icon name="instagram" class="size-4 stroke-secondary"></lucide-icon>
        </a>
        <a href="" class="flex justify-center items-center p-1.5 rounded-full border w-fit border-secondary">
          <lucide-icon name="phone" class="size-4 stroke-none fill-secondary"></lucide-icon>
        </a>
      </div>

      <!-- Social Media Links -->
      <div class="hidden lg:flex">
        <shared-social-media />
      </div>
    </article>


    <!-- Menu Links -->
    <article class="justify-self-end space-y-3 max-sm:hidden">
      <h3 class="text-xl uppercase text-primary-600">ENLACES RÁPIDOS</h3>

      <div class="flex flex-col space-y-1">
        <a routerLink="" class="text-sm uppercase">Inicio</a>
        <a routerLink="" class="text-sm uppercase">Productos</a>
        <a routerLink="" class="text-sm uppercase">Nosotros</a>
        <a routerLink="" class="text-sm uppercase">Ingresar</a>
      </div>
    </article>


    <!-- Store Locations -->
    <article class="space-y-3 text-end">
      <h3 class="text-xl uppercase text-primary-600">Ubícanos en</h3>

      <div class="flex flex-col space-y-1">
        <a href="" class="max-md:text-sm md:leading-snug">Av. London Park 132</a>
        <a href="" class="max-md:text-sm md:leading-snug">Calle Jardín del Sol 465</a>
        <a href="" class="max-md:text-sm md:leading-snug">Urb. Los Portales 132</a>
      </div>
    </article>
  </section>


  <section class="w-full md:px-10 px-5 max-w-[90rem] mx-auto">
    <div class="pt-5 mx-auto w-full text-center border-t border-t-gray-400">
      <p class="text-sm">© 2025. TOSTAO. Todos los derechos reservados</p>
    </div>
  </section>
</footer>
