<article href="#" class="w-full md:bg-white md:max-w-[300px] rounded-lg contain-content max-md:flex max-md:items-center gap-x-3">

  <div class="w-full h-[200px] max-sm:h-[120px] bg-gray-300 rounded-lg overflow-hidden">
    <img src="img/vision.png" alt="Store Card" class="object-cover w-full h-full">
  </div>

  <div class="w-full space-y-2 md:p-5">
    <h3 class="text-xl text-primary-600">Local Centro</h3>
    <p class="max-sm:text-sm">Av. Principal 354, Centro.</p>

    <div class="text-sm max-sm:text-xs">
      <p>Lunes a Viernes 7:00 - 20:00</p>
      <p>Sábados y Domingos 8:00 - 18:00</p>
    </div>
  </div>

</article>
