<article class="flex items-center justify-center text-sm sm:text-base w-fit">
  <div  class="flex items-center pr-5 border-r gap-x-2 border-secondary">
    <lucide-icon name="facebook" class="size-4 sm:size-5 stroke-none fill-secondary"></lucide-icon>
    <a href="#" class="hover:underline underline-offset-4">Facebook</a>
  </div>

  <div class="flex items-center px-5 border-r gap-x-2 border-secondary">
    <lucide-icon name="instagram" class="size-4 sm:size-5 stroke-secondary"></lucide-icon>
    <a href="#" class="hover:underline underline-offset-4">Instagram</a>
  </div>

  <div class="flex items-center pl-5 gap-x-2">
    <lucide-icon name="phone" class="size-4 sm:size-5 stroke-none fill-secondary"></lucide-icon>
    <a href="#" class="hover:underline underline-offset-4">936 245 721</a>
  </div>
</article>
