<article class="flex justify-center items-center text-sm sm:text-base w-fit">
  <div  class="flex gap-x-2 items-center pr-3 border-r border-secondary">
    <lucide-icon name="facebook" class="size-4 sm:size-5 stroke-none fill-secondary"></lucide-icon>
    <a href="#" class="hover:underline underline-offset-4">Facebook</a>
  </div>

  <div class="flex gap-x-2 items-center px-3 border-r border-secondary">
    <lucide-icon name="instagram" class="size-4 sm:size-5 stroke-secondary"></lucide-icon>
    <a href="#" class="hover:underline underline-offset-4">Instagram</a>
  </div>

  <div class="flex gap-x-2 items-center pl-3">
    <lucide-icon name="phone" class="size-4 sm:size-5 stroke-none fill-secondary"></lucide-icon>
    <a href="#" class="hover:underline underline-offset-4">936 245 721</a>
  </div>
</article>
